* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}
.main-heading {
  font-size: 36px;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}
.form-main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.Form {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.gender-item {
  display: inline;
}
.username,
.showpassword,
.confirmpassword,
.phone,
.email,
.gender,
.country,
.DOB,
.Resume,
.textarea {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
}

input[type="text"],
input[type="password"],
input[type="username"],
input[type="tel"],
input[type="email"],
input[type="date"],
textarea,
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

input[type="checkbox"],
input[type="radio"] {
  margin-right: 10px;
}

input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}
